@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Do your breathing exercises</h1>
    <a asp-action="Breathing" asp-controller="Home" class="button">Begin now</a>
    <a asp-action="Progress" asp-controller="Home" class="button">See your progress</a>
</div>