@model EO_V20_BreathingExercise2.Models.ExercisePagemodel

@{
    ViewData["Title"] = "Progress";
}

<script src="https://unpkg.com/vue@next"></script>

<div id="progress">
    <h1 class="display-5">Progress</h1>

    <table>
        <tr>
            <th>Date</th>
            <th>Minutes</th>
        </tr>
        @foreach (Exercise exercise in Model.Exercises)
        {
            <tr>
                <td>@exercise.Date</td>
                <td>@exercise.Minutes</td>
            </tr>
        }
        @*<tr v-for="e in exercises">
            <td>{{ e.Date }}</td>
            <td>{{ e.Minutes }}</td>
        </tr>*@
    </table>

    <h2 class="display-6">Total of minutes: {{ total }}</h2>
</div>

<style>
    th {
        padding: 10px;
    }

    td {
        padding: 10px;
    }
</style>

<script>
    const App = {
        created: function () {
            this.total = @Model.TotalMinutes;
            //this.exercises = @Model.Exercises.ToArray();
        },
        data() {
            return {
                total: 0
            }
        },
        methods: {

        }
    };
    Vue.createApp(App).mount('#progress')
</script>